#outline{
    border: 2px solid black;
    padding: 20px;  
}
#receipt{
    background-color: whitesmoke;
    border: 2px solid #D23B26;
}

.btn{
    background-color: #D23B26;
    color: #EBE9E5; 
  }
  .btn:hover{
    color: #D9A648;
    box-shadow: 0 0 0 0.2rem rgba(255, 187, 0, 0.2);
  }

  #counter2{
    position: fixed;
    top: -4999999px;
  }