  body {
    /* text-align: center; */
    background-color: snow;
    display: grid;
    font-family: 'Inconsolata', monospace;
  }
  /* Play VHS */
  h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 10px;
  }

  /* ===== VARUKORGEN ===== */
  #basket {
    display: grid;
    grid-column: 1;
    width: 220px;
    height: 500px;
    color: snow;
    background-color: #5F1034;
    border-right: 2px solid black;
    margin-right: 10px;
    text-align: center;
  }
  #counter {
    text-align: center;
    font-size: 2em;
    color: goldenrod;
  }
  #basketList {
    /* grid-row: 1; */
    list-style-type: none;
    margin: 10px;
    padding: 0;
  }
  #basketList li {
    text-align: center;
  }

  /* ===== FILMER ===== */
  #newList {
    display: flex;
    flex-wrap: wrap;
    grid-column: 2;
  }
  .movie {
    width: 380px;
    height: 570px;
    margin: 0 5px 40px 5px;
    border: 2px solid black;
    padding: 10px 5px;
    text-align: center;
  }
  /* Movie Title */
  h4 {
    font-size: 1rem;
    margin: 20px 0;
  }
  img {
    width: auto;
    height: 80%;
    margin-bottom: 0;
    outline: 2px solid #D23B26;
    transition: ease-in-out .2s;
  }
  img:hover {
    transform: scale(1.1);
  }
  button {
    outline: 1px solid black;
    background-color: #D23B26;
    border: none;
    color: #EBE9E5;
    padding: 14px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all .3s;
  }
  button:hover {
    color: #D9A648;
    outline: 1px solid #D9A648;
  }
  h6 {
    color:#5F1034;
    color:#961938;
    color:#C51D24;
    color:#D23B26;
    color:#D9A648;
    color:#EBE9E5;
  }