body {
/* text-align: center; */
background-color: snow;
display: grid;
font-family: 'Inconsolata', monospace;
}
/* Play VHS */
h1 {
text-align: center;
font-size: 3rem;
margin-top: 10px;
}

/* ===== VARUKORGEN ===== */
#basket {
position: fixed;
left: 20px;
width: 240px;
height: 100vh;
color: snow;
background-color: #5F1034;
border-right: 2px solid black;
margin-right: 10px;
text-align: center;
}
#counter {
text-align: center;
font-size: 2em;
color: goldenrod;
}
#basketList {
/* grid-row: 1; */
list-style-type: none;
margin: 10px 0;
padding: 0;
}
#basketList li {
text-align: right;
margin: 10px 10px 10px 0;
font-size: 1rem;
}
#checkoutBtn {
text-decoration: none;
color: snow;
background-color: green;
padding: 14px 6px;
outline: 1px solid black;
border: none;
text-align: center;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
transition: all .3s;
}

/* ===== FILMER ===== */
#newList {
width: 76%;
position: relative;
right: -20%;
display: flex;
flex-wrap: wrap;
grid-column: 2;
justify-content: space-around;
}
.movie {
width: 380px;
height: 570px;
margin: 0 5px 40px 5px;
border: 2px solid black;
padding: 10px 5px;
text-align: center;
}
/* Movie Title */
h4 {
font-size: 1rem;
margin: 20px 0;
}
img {
width: auto;
height: 80%;
margin-bottom: 0;
outline: 2px solid #D23B26;
transition: ease-in-out .2s;
}
img:hover {
transform: scale(1.1);
}
button {
outline: 1px solid black;
background-color: #D23B26;
border: none;
color: #EBE9E5;
padding: 14px 26px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
transition: all .3s;
}
button:hover, #checkoutBtn:hover {
color: #D9A648;
outline: 1px solid #D9A648;
}
.remove {
outline: 1px solid black;
background-color: #D9A648;
border: none;
color: #EBE9E5;
padding: 8px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
transition: all .3s;
}
.remove:hover {
color: #D23B26;
outline: 1px solid #D23B26;
}
/* Responsive */
@media only screen and (max-width: 1100px){
  #newList {
    justify-content: flex-end;
  }
  #basket {
    width: 200px;
    left: 0;
    z-index: 5;
  }
  h1 {
    text-align: right;
  }
  /* .movie {
    width: 340px;
  } */
}